<div class="container">


<h1>Detail du cocktail</h1>

<h2><%= @cocktail.name %></h2>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>


<h2>Liste des doses</h2>

<ul>
  <% @doses.each do |dose| %>
  <li>

  <%= dose.ingredient.name %> - <%= dose.amount %> cl

  <%= link_to "Delete", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </li>
<% end %>
</ul>

<%= link_to "Add an ingredient", new_cocktail_dose_path(params[:id]) %>

<br>
<%= link_to "Back to list", cocktails_path %>

</div>
