
<div class="container">

<h1>Add a dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>

<% if @dose.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @dose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
      <%= f.association :ingredient %>
    </div>

     <div class="form-group">
      <%= f.input :description, class: 'form-control' %>
        </div>

 <div class="form-group">
      <%= f.input :amount, class: 'form-control' %>
         </div>

    <%= f.submit "add a dose", class: "btn btn-primary" %>
<% end %>

</div>

